services:
  namenode:
    image: apache/hadoop:3.3.6
    build: .
    hostname: namenode
    command: ["hdfs", "namenode"]
    ports:
      - 9870:9870
    env_file:
      - ./hadoop.env
    environment:
      ENSURE_NAMENODE_DIR: "/hadoop/dfs/name"
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
      - ./spark_jars:/opt/hadoop/dfs/spark/jars

  datanode:
    image: apache/hadoop:3.3.6
    build: .
    command: ["hdfs", "datanode"]
    env_file:
      - ./hadoop.env    
    depends_on:
      - namenode
    volumes:
      - hadoop_datanode:/hadoop/dfs/data

  resourcemanager:
    image: apache/hadoop:3.3.6
    build: .
    hostname: resourcemanager
    command: ["yarn", "resourcemanager"]
    ports:
      - 8088:8088
    depends_on:
      - namenode
      - datanode
    env_file:
      - ./hadoop.env

  nodemanager:
    image: apache/hadoop:3.3.6
    build: .
    command: ["yarn", "nodemanager"]
    depends_on:
      - namenode
      - datanode
      - resourcemanager
    env_file:
      - ./hadoop.env

  spark-master:
    build:
      dockerfile: ./bitnami/Dockerfile
    environment:
      - SPARK_MODE=master
      - SPARK_USER=spark
      - SPARK_CONF_DIR=/opt/bitnami/spark/conf
      - APP_ENV=local
    ports:
      - "8080:8080"
      - "4040:4040"
      - "18080:18080"
    volumes:
      - ./jars:/opt/bitnami/spark/extra_jars
      - ./conf:/opt/bitnami/spark/conf
      - ./hadoop:/opt/bitnami/hadoop

  zookeep1:
    image: zookeeper:3.4.14
    hostname: zookeep1
    ports:
      - "2181:2181"
    environment:
        ZOO_MY_ID: 1
        ZOO_PORT: 2181
        ZOO_SERVERS: server.1=zookeep1:2888:3888
    volumes:
      - zookeeper1_data:/data
      - zookeeper1_datalog:/datalog

  kafka1:
    image: confluentinc/cp-kafka:7.5.0
    hostname: kafka1
    ports:
      - "9092:9092"
    environment:
      KAFKA_LISTENERS: LISTENER_DOCKER_INTERNAL://kafka1:19092,LISTENER_DOCKER_EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: LISTENER_DOCKER_INTERNAL://kafka1:19092,LISTENER_DOCKER_EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: LISTENER_DOCKER_INTERNAL:PLAINTEXT,LISTENER_DOCKER_EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: LISTENER_DOCKER_INTERNAL
      KAFKA_ZOOKEEPER_CONNECT: "zookeep1:2181"
      KAFKA_BROKER_ID: 1
      KAFKA_LOG4J_LOGGERS: "kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    volumes:
      - kafka1_data:/var/lib/kafka/data
    depends_on:
      - zookeep1
    deploy:
      restart_policy:
        condition: on-failure
        delay: 3s
        max_attempts: 5
        window: 60s

  cassandra:
    image: cassandra:latest
    hostname: cassandra1
    ports:
      - "9042:9042"
    volumes:
      - cassandra_data:/var/lib/cassandra
    environment:
      - CASSANDRA_CLUSTER_NAME=MyCluster

volumes:
  hadoop_namenode:
  hadoop_datanode:
  cassandra_data:
  kafka1_data:
  zookeeper1_data:
  zookeeper1_datalog:
